html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  background: 000000 url("barbershop-index.jpg") no-repeat 50% 3px;
  background-size: 1122px auto;
}

.main-header {
  /* Только для оформления сетки */
  min-height: 70px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  /* Только для оформления сетки */
  min-height: 70px;
}

.main-navigation {
  /* Только для оформления сетки */
  min-height: 70px;
}

.user-block {
  /* Только для оформления сетки */
  min-height: 70px;
}


















/* Системное оформление */


body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > *> *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background:  rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

.main-header::before {
  content: ".main-header";
}

.main-navigation {
  background:  rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px yellow;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block {
  background:  rgba(60, 100, 50, 0.2);
  box-shadow: 0 0 0 3px yellow;
}

.user-block::before {
  content: ".user-block";
}

.container {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 3px red;
}
